<!doctype html>
<html lang="ru">
<head>
  <!-- Кодировка веб-страницы -->
  <meta charset="utf-8">
  <!-- Настройка viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%block title%}{%endblock%}

  <!-- Bootstrap CSS (Cloudflare CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
  <script src="index.js"></script>
  <!-- jQuery (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>
</head>
<body>
  <div class="fon">
    <div class="container-md con mx-auto">
      <div class="navig align-items-middle shadow p-3 mb-5 bg-body rounded row justify-content-between" >
    
     
      <div class="col img ">
          <img id="logo" src="images/4nepbggowropb8so1meje.png" alt="logo">
    
      </div>  
            
            
             <div class="inne col-2">
             <div class="in row justify-content-between">
             
          <a href="admin" class="shest col-2">
    
      </a>
              <a href="#" class="dom col-2">
    
      </a>
      </div>
      </div>
      </div>
      
 {%block body%}{%endblock%}
</body>
</html>