{% extends 'admin/master-extended.html' %}

{% block title %}
<title>ADMIN</title>
{% endblock %}

{% block content2 %}

{% if current_user.has_role('admin') %}

<div>
    <div>
 
        <p class="lead" style="margin-top: 10px;">Таблица данных:</p>
        <div class="tabe " style="display: flex;">
            <button class="tablinkse" onclick="openServ(event, 'servises_table')"> Сервисы</button>
            <button class="tablinkse" onclick="openServ(event, 'news_table')">Новости</button>
            <button class="tablinkse" onclick="openServ(event, 'users_table')">Пользователи</button>
            <button class="tablinkse" onclick="openServ(event, 'roles_table')">Роли</button>
            <button class="tablinkse" style="margin-left: auto;" onclick="openServ()">Скрыть</button>
        </div>


        <div id="servises_table" class="tabcontente">
            <h3>Сервисы сайта</h3>
            <div class="window_form">
                <form enctype="multipart/form-data" method="post">
                    <table border="1">
                        <caption> </caption>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Создан</th>
                            <th>Ссылка</th>
                            <th>Изображение</th>
                            <th>Действие</th>
                        </tr>

                        {% for el in services %}

                        <tr>
                            <td id="title">{{el.title}} </td>
                            <td>{{el.desc}}</td>
                            <td>{{el.created}}</td>
                            <td>{{el.url_serv}}</td>
                            <td><img src='data:;base64,{{ el.image }}' width='100%' height='100%' /></td>
                            <td><a href="service/{{el.id}}/del" class="btn b_nav btn-primary"> Удалить</a></td>
                        </tr>

                        {%endfor%}

                    </table>
                </form>
            </div>
        </div>

        <div id="news_table" class="tabcontente">
            <h3>Новости сайта</h3>
            <div class="window_form">
                <form enctype="multipart/form-data" method="post">
                    <table border="1">
                        <caption> </caption>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Дата создания</th>
                            <th>Содержание</th>
                            <th>Изображение</th>
                            <th>Действия</th>
                        </tr>

                        {% for el in news %}

                        <tr>
                            <td>{{el.title}} </td>
                            <td>{{el.desc}}</td>
                            <td>{{el.created}}</td>
                            <td>{{el.body}}</td>
                            <td><img src='data:;base64,{{ el.image }}' width='100%' height='100%' /></td>
                            <td><a href="news/{{el.id}}/del" class="btn b_nav btn-primary">Delete</a></td>
                        </tr>

                        {%endfor%}

                    </table>
                </form>
            </div>
        </div>


        <div id="users_table" class="tabcontente">
            <h3>Пользователи сайта</h3>
            <div class="window_form">
                <form enctype="multipart/form-data" method="post">
                    <table border="1">
                        <caption> </caption>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>username</th>
                            <th>email</th>
                            <th>created_on</th>
                            <th>updated_on</th>
                        </tr>

                        {% for el in users %}

                        <tr>
                            <td>{{el.id}} </td>
                            <td>{{el.name}}</td>
                            <td>{{el.username}}</td>
                            <td>{{el.email}}</td>
                            <td>{{el.created_on}} </td>
                            <td>{{el.updated_on}} </td>
                            <td><a href="{{el.id}}/del" class="btn b_nav btn-primary">Delete</a></td>
                        </tr>

                        {%endfor%}

                    </table>
                </form>
            </div>
        </div>


        <div id="roles_table" class="tabcontente">
            <h3>Роли пользователей</h3>
            <div class="window_form">
                <form enctype="multipart/form-data" method="post">
                    <table border="1">
                        <caption> </caption>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>description</th>
                        </tr>

                        {% for el in roles %}

                        <tr>
                            <td>{{el.id}} </td>
                            <td>{{el.name}} </td>
                            <td>{{el.description}}</td>
                            <td><a href="{{el.id}}/del" class="btn b_nav btn-primary">Delete</a></td>
                        </tr>

                        {%endfor%}

                    </table>
                </form>
            </div>
        </div>

    </div>

</div>

{% endif %}

{% endblock %}