{% extends 'base.html' %}
{% block access_control %}

{% if current_user.is_authenticated %}



<div class="row-fluid">

    <div>
        {% if current_user.is_authenticated %}
        <div>
            <h2 style="margin-top: 20px;">Сведения о пользователе</h2>
            <ul>
                <li>Имя пользователя: {{ current_user.name }}</li>
                <li>Имя пользователя: {{ current_user.username }}</li>
                <li>Email: {{ current_user.email }}</li>
                <li>Зарегистрирован: {{ current_user.created_on }}</li>
                <li>Изменён: {{ current_user.updated_on }}</li>
            </ul>
            <div class="btn-group pull-right">
                <a class="btn b_nav btn-primary" style="margin-bottom: 50px; margin-top: 10px;" href="{{ url_for('admin.logout_page') }}">{{ current_user.username }} - Выйти</a>
            
            </div>

            <h2>Возможности и настройки</h2>
            <p class="lead">Изменить цвет фона: </p>
<input type="color" list="colorList" name="idColor" id="idColor" value="#cc0000">
<datalist id="colorList">
<option value="#ff0000" label="Красный">
<option value="#008000" label="Зелёный">
<option value="#0000ff" label="Синий">
<option value="#ffffff" label="Белый">
<option value="#cccccc" label="Серый">
</datalist>
<output id="rezultatColor"></output> 
            <button onclick="selectcolor()" class="btn b_nav b_navig btn-primary"> Применить </button> 
            
            <!-- <p><a href="/admin/change/">Изменить пароль</a></p> -->

            <div class="user_settings">   
            <p class="lead" style="margin-top: 10px;">Редактировать учётную запись: </p>
             <a href="lk/user_settings"><button class="btn b_nav btn-primary">Редактировать</button></a>
                 </div>

        </div>

        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
                {{ f.label }}
                {{ f }}
                {% if f.errors %}
                <ul>
                    {% for e in f.errors %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            <!-- <button class="btn" type="submit">Submit</button> -->
        </form>
        {{ link | safe }}
        {% endif %}
    </div>

    {% endif %}
    {% endblock %}


    {% block content2 %}

    {% endblock %}

    {% block content %}



    {% if current_user.is_authenticated %}
            {% if current_user.has_role('admin') or current_user.has_role('prepod') %}

    <p class="lead" style="margin-top: 10px;">Добавление элементов:</p>
    <div class="row-fluid">

        <div class="tab " style="display: flex;">

            {% if current_user.has_role('admin') %}
            <button class="tablinks" onclick="openCity(event, 'Сервис')">Добавить сервис</button>

            {% endif %}
            <button class="tablinks" onclick="openCity(event, 'Новость')">Добавить новость</button>
            
            <!-- <button class="tablinks" onclick="openCity(event, 'Проект')">Добавить проект</button> -->
            <button class="tablinks" style="margin-left: auto;" onclick="openCity()">Скрыть</button>
            {% endif %}
        </div>

        {% if current_user.has_role('admin') %}
        <div id="Сервис" class="tabcontent">

            <h3>Сервис</h3>

            <div class="window_form">
                <form enctype="multipart/form-data" method="post">

                    {{ form.csrf_token }}
                    {{form.title.label}}
                    {{form.title(class="form-control", id="servis_title", type="text",placeholder="", )}}
                    {{form.desc.label}}
                    {{form.desc(class="form-control", type="text",placeholder="" )}}
                    {{form.url_serv.label}}
                    {{form.url_serv(class="form-control", type="text",placeholder="" )}}
                    {{form.image.label}}
                    {{form.image(class="form_image_admin")}}
                    {{form.submit(onclick="alerte()", type="submit", class="btn b_nav btn-primary" )}}

                    {{form.title2(class="form-control f_c", type="text",placeholder="", value="servises"
                    )}}

                </form>
            </div>
        </div>

        {% endif %}

        {% if current_user.has_role('admin') or current_user.has_role('prepod') %}
        <div id="Новость" class="tabcontent">
            <h3>Новость</h3>
            <div class="window_form">
                <form enctype="multipart/form-data" method="post">

                    {{ form2.csrf_token }}
                    {{form2.title.label}}
                    {{form2.title(class="form-control", type="text",placeholder="", )}}
                    {{form2.desc.label}}
                    {{form2.desc(class="form-control", type="text",placeholder="" )}}
                    {{form2.body.label}}
                    {{form2.body(class="form-control", type="text",placeholder="" )}}
                    {{form2.image.label}}
                    {{form2.image(class="form_image_admin")}}
                    {{form2.submit( type="submit", class="btn b_nav btn-primary")}}

                    {{form2.title2(class="form-control f_c", type="text",placeholder="", value="news" )}}

                </form>
            </div>

        </div>
        {% endif %}
        
        <!-- 
    <div id="Проект" class="tabcontent">
      <h3>Проект</h3>
      <div class="window_form">
        {{ form.csrf_token }}
        {{form.title.label()}}
        {{form.title(class="form-control", type="text",placeholder="Default input",  )}}
        Название сервиса
        <input name='title' id='title' class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        {{form.desc.label()}}
        {{form.desc(class="form-control", type="text",placeholder="Default input" )}}
        Описание сервиса
        <input name='desc' id='desc' class="form-control" type="text" placeholder="Default input"
          aria-label="default input example">
          Адрес
          {{form.url_serv(class="form-control", type="text",placeholder="Default input" )}}
        Ссылка на сервис
        <input name='url_serv' id="url_serv" class="form-control" type="text" placeholder="Default input"
          aria-label="default input example">
          Изображение
          {{form.image()}}
        Загрузка изображения
        <p><input name='image' id="image" type="file">
          <input type="submit" value="Загрузить">
        </p>
        {{form.submit( type="submit", class="btn  b_nav btn-primary")}}
        <button type="submit" class="btn  b_nav btn-primary"> Добавить </button>
        {{form.title2(class="form-control f_c", type="text",placeholder="Default input", value="projects"  )}}
        Название сервиса
        <input name='title' id='title' class="form-control" type="text" placeholder="Default input" aria-label="default input example">
      </div> -->

    
    </div>
</div>
    {% endif %}
    {% endblock content %}