{% extends 'base.html' %}

{% block title %}
<title>Редактирование профиля</title>
{% endblock %}

{% block content2 %}

<form enctype="multipart/form-data" method="post">
    {{ form.csrf_token }}
    {{form.name.label}}
    {{form.name(class="form-control", id="servis_title", type="text",placeholder="", value = user.name)}}
    {{form.username.label}}
    {{form.username(class="form-control", type="text",placeholder="" , value = user.username)}}
    {{form.email.label}}
    {{form.email(class="form-control", type="text",placeholder="", value = user.email )}}<br>
    {{form.check.label}}
    {{form.check}}<br>
    {{form.password.label}}
    {{form.password(class="form-control", type="text",placeholder="", value = user.password )}}
    {{form.submit(onclick="alerte()", type="submit", class="btn b_nav btn-primary")}}

</form>
{% endblock %}