<!doctype html>
<html lang="ru">

<head>

  <!-- Кодировка веб-страницы -->

  <meta charset="utf-8">

  <!-- Настройка viewport -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%block title%}{%endblock%}
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  <!-- Bootstrap CSS (Cloudflare CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='AIS.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='adminka.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="{{ url_for('static', filename='AIS.js') }}"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- jQuery (Cloudflare CDN) -->

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>

  <!-- Bootstrap Bundle JS (Cloudflare CDN) -->

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"
    integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg=="
    crossorigin="anonymous"></script>
    <script>
      window.oninput = function oninputColor() {
      var idColor = document.getElementById('idColor').value;
      document.getElementById('rezultatColor').innerHTML = idColor;
      }
      </script>
</head>

<!-- Навигация Header -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Вверх</button>
<header class="header">

  <!-- Логотип -->

  <a href="/"><div class="col-2 img">
    <img id="logo" src="{{ url_for('static', filename='images/4nepbggowropb8so1meje.png') }}" alt="logo">
  </div></a>


  <!-- Кнопки навигации -->

  <div class="col header_inner col-6 " style="overflow: hidden;">
<div class="row col-12 " style="padding: 0; display: flex; justify-content: end; margin-right: 15px ;">
  <a href="/" ><button type="button" class="btn b_nav b_navig btn-primary" style="    margin: 10px;">Главная</button></a>
  <a href="/projects" ><button type="button" class="btn b_nav b_navig btn-primary" style="    margin: 10px;">Проекты</button></a>
    {% if current_user.is_authenticated %}
    <a href="/admin/" ><button type="button" class="btn b_nav b_navig btn-primary" style="    margin: 10px;">Личный кабинет</button></a>
    {%else%}
    <a href="/admin/login/" ><button type="button" class="btn b_nav b_navig btn-primary" style="    margin: 10px;">Авторизация</button></a>
    {% endif %}
  </div></div>



</header>


{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}


<div id="fon" class="fon">
  <div class="container-md con mx-auto">

    {% block access_control %}
    {%endblock%}

    {% block news %}

    {% endblock %}

    {% block search %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block content2 %}
    {% endblock %}

  </div>

  <script type="text/javascript">
    $('.responsive').slick({
      dots: true,
      infinite: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  </script>

<div class="responsive slick-track" style="height: 100px; width: 100%;">
  <div class="slider__item slick-slide">
    <img style="max-width:50px; max-height:50px;" src="{{ url_for('static', filename='images/git_logo.png') }}" alt="">
  </div>
  <div class="slider__item slick-slide">
    <img style="max-width:50px; max-height:50px;" src="{{ url_for('static', filename='images/git_logo.png') }}" alt="">
  </div>
  <div class="slider__item slick-slide">
    <img style="max-width:50px; max-height:50px;" src="{{ url_for('static', filename='images/git_logo.png') }}" alt="">
  </div>
  <div class="slider__item slick-slide">
    <img style="max-width:50px; max-height:50px;" src="{{ url_for('static', filename='images/git_logo.png') }}" alt="">
  </div>
  <div class="slider__item slick-slide">
    <img style="max-width:50px; max-height:50px;" src="{{ url_for('static', filename='images/git_logo.png') }}" alt="">
  </div>
  <div class="slider__item slick-slide">
    <img style="max-width:50px; max-height:50px;" src="{{ url_for('static', filename='images/git_logo.png') }}" alt="">
  </div>
  <div class="slider__item slick-slide">
    <img style="max-width:50px; max-height:50px;" src="{{ url_for('static', filename='images/git_logo.png') }}" alt="">
  </div>


 
</div>

  <!-- Начало футера -->
  <div class="footer align-items-center row shadow p-3 " style="color: rgb(250, 248, 244); ">

    <div class="col-3">
      <!-- Пустая колонка -->
    </div>

    <div class="col-3"> 

  <h4>Команда CodeMasters:</h4>
  <ul>
    <a target="_blank" class="git_link" href="https://github.com/AlanLeinhard">Александр Ленц</a>  <br />
    <a target="_blank" class="git_link" href="https://github.com/GriZZlY4578">Магомедов Артур</a>  <br />
    <a target="_blank" class="git_link" href="https://github.com/VeeNDeN2233">Беленикин Даниил</a>  <br />
   </ul>
    </div>

    <div class="col-3">

      <h4 style="margin-top: 0;">Руководитель проекта:</h4>

      <div><a class="git_link" target="_blank" href="">Попов Антон</a></div> 

      <div>Кафедра АИС ОВД</div>

      <div style=" margin-bottom: 15px;">Воронеж, ВИ МВД России, 2021</div> 
    </div>

    <div class="col-3 " style="display: flex; justify-content:start;">
    <a target="_blank" href="https://github.com/AlanLeinhard/flask/">
      <div id="git_logo" style="min-width: 50px; max-width:100px; min-height:50px; max-height:100px; "> 
        <img src="{{ url_for('static', filename='images/git_logo.png') }}" style="max-width:100px; max-height:100px;" alt=""> 
      </div>
    </a>
  </div>

  <!-- <div class="col-3" style="width:50px; height:50px; display: flex; justify-content:start; background: url (url_for('static', filename='images/git_logo.png') );">
    </div> -->
  </div>

  </div> 
  <!-- Конец футера -->
  

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</div>