<!doctype html>
<html lang="ru">

<head>
  <!-- Кодировка веб-страницы -->
  <meta charset="utf-8">
  <!-- Настройка viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>...</title>

  <!-- Bootstrap CSS (Cloudflare CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='AIS.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='adminka.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="{{ url_for('static', filename='AIS.js') }}"></script>
  <!-- jQuery (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"
    integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg=="
    crossorigin="anonymous"></script>
</head>
        <!-- Навигация Header -->
  <header>
    <div class="navig header align-items-middle shadow p-3 bg-body rounded row justify-content-between" >

      <!-- Логотип -->
       <div class="col-2 img">
        <img id="logo" src="{{ url_for('static', filename='images/4nepbggowropb8so1meje.png') }}" alt="logo">
       </div>  
             
   
                       <!-- Кнопки навигации -->
        <div class="col header_inner col-4">
       <a href="/admin/login/"><button type="button"  class="btn btn-primary b_nav">Авторизация</button></a>
       <a href="/"><button type="button" class="btn btn-primary b_nav">Главная</button></a>
       <a href="/admin/"><button type="button" class="btn btn-primary b_nav">Админка</button></a>
      </div>
   
   
       </div>

  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}






  <div class="fon">
    <div class="container-md con mx-auto">






          {% block access_control %}

          {% if current_user.is_authenticated %}
          {% endif %}

          {%endblock%}

         

      {% block body %}

      {%endblock%}
      {% block content %}

      {% endblock %}
    </div>

    <div class="footer align-items-center row shadow p-3 ">
      <div class="col"></div>
      <div class="col "></div>
      <div class="col"></div>
    </div>

  </div>